{% extends "layout.html" %}

{% block title %}
    About sortedTales
{% endblock %}

{% block main %}
    <body>
        <h1>sortedTales</h1>
        <h2>I created this web app to practice integrating MongoDB databases with Python</h2>
        <p>This web app allows users to search for books in the sortedTales collection and retrieve their details.</p>
        <p>By leveraging the power of MongoDB and Python, we can efficiently store, search, and display book information.</p>
        <p>Feel free to explore the available books and enjoy your reading!</p>
        
      <a href ="https://github.com/gabrielrosendo">My GitHub</a>
    </body>
{% endblock %}
