{% extends "layout.html" %}

{% block title %}
    BOOK
{% endblock %}

{% block main %}
    <h3 style="color:red;">{{ error}} </h3> 

    <body>
        {% if bookname %}
            <h1>Book Details</h1>
            <h2>{{ bookname.title }}</h2>
            <p>Genre: {{ bookname.genre }}</p>
            <p>Publisher: {{ bookname.publisher }}</p>
            <p>Year Published: {{ bookname.year_published }}</p>
            <p>ISBN: {{ bookname.ISBN }}</p>
            <p>Cost: {{ bookname.cost }}</p>
            <h3>Author Information</h3>
            <p>Name: {{ bookname.author_information[0].name }}</p>
            <p>Birth Year: {{ bookname.author_information[0].birth_year }}</p>
            <p>Country: {{ bookname.author_information[0].country }}</p>
        {% endif %}
    </body>

{% endblock %}
