{% extends "layout.html" %}
{% block title %}
Homepage
{% endblock %}
{% block main %}



   <table  class="content-table">
      <thead >
         <tr style="background-color: black;" class="heading">
            <th>Book Name</th>
            <th>Author</th>
            <th>Genre</th>
         </tr>
      </thead>
      <tbody>
         {% for book in books %}
         <tr>
            <td><a style = "color:#000000;"href="/bookpage/{{ book.title }}">{{ book.title }}</a></td>
            <td>{{book.author_information[0]["name"]}}</td>
            <td>{{book.genre}}</td>
         </tr>
         {% endfor %}

      </tbody>
   </table>
</h1>
{% endblock %}