<!DOCTYPE html>
<html lang="en">
<head>
  <link href="/static/styles.css" rel="stylesheet">
  <meta charset="utf-8">
</head>
<body>
  <header class="header">
    <div class="header-container">
      <h1 class="logo">Sorted Tales<span class="logo-green">.</span></h1>
      <div class="search-container">
        <form class="search-form" action="{{ url_for('found', bookname=bookname) }}" method="POST">
          <input type="text" name="bookname" placeholder="Search a book" />
          <label for="book-search" style="color:white;">by:</label> 
          <select name="book-search" id="book-search"> 
          <option value="author">Author's name</option> 
          <option value="name">Book's name</option> 
          <option value="genre">Genre</option> 
          </select>
          <button type="submit">Search</button>
        </form>
      </div>
      <nav class="navigation">
        <ul class="nav-links">
          <li><a href="/">Homepage</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <div class="banner">
      {% block banner %}{% endblock %}
    </div>
    <div class="content">
      {% block main %}{% endblock %}
    </div>
  </main>
</body>
</html>
